body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-size: cover;
    background-image: url('./image/bg5.jpg');
  }
  

.container {
    width: 600px;
    background-color:#e7e8e4; 
    border-radius: 10px;
    box-shadow: 0px 12px 20px black;
    padding: 50px;
    color: #161615;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  

.add-task-form {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }

  
.task-input {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  

  
.task-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  
.task-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 4px;
  }


/* Add strikethrough effect 
.task-item.completed .task-text {
    text-decoration: line-through;   
}
*/

.add-button {
    padding: 10px 20px;
    background-color: #d3bf95;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

  
.delete-button {
    padding: 5px 10px;
    background-color: #d3bf95;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  
  }

 
.edit-button {
    padding: 5px 10px;
    background-color: #d3bf95;
    color:white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }


.save-button {
    padding: 5px 10px;
    background-color: #d3bf95;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }